<div class="mt-16 container">
  <h3>Create blog</h3>
  <form method="POST" action="/blogs/store">
    <div class="form-group">
      <label for="name"><strong>Name</strong></label>
      <input
        name="name"
        type="text"
        class="form-control"
        id="name"
        placeholder="Name"
        required
      />
    </div>
    <br />
    <div class="form-group">
      <label for="description"><strong>Description</strong></label>
      <textarea
        name="description"
        class="form-control"
        id="description"
        cols="30"
        rows="10"
        required
      ></textarea>
    </div>
    <br />
    <div class="form-group">
      <label for="videoId"><strong>Image</strong></label>
      <input
        name="image"
        type="text"
        class="form-control"
        id="image"
        placeholder="Example input"
        required
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>