<div class="mt-16 container">
  <div class="row">
    <div class="col">
      <h2>{{blog.name}}</h2>
      <img src="{{blog.image}}" alt="{{blog.name}}" />
      <p>{{blog.description}}</p>
    </div>
  </div>
</div>